@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../../fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../../fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../../fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../../fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../../fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-ibm-plex-arabic: 'IBM Plex Sans Arabic', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(236, 28%, 12%);
  color: #ffffff;
  font-family: var(--font-ibm-plex-arabic);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(236, 28%, 16%);
}

::-webkit-scrollbar-thumb {
  background: hsl(236, 28%, 30%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(236, 28%, 40%);
}
